.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "renderer"
    "controls";

  @media(min-width: 1024px){
    grid-template-columns: minmax(512px, 3fr) 2fr;
    grid-template-areas:
      "renderer controls";
  }
}

.renderer {
  grid-area: renderer;

  canvas {
    border-style: dashed;
    border-color: #bda0bd;
  }
}

.controls {
  background-color: #dff8ff;
  grid-area: controls;
  border-color: #9fb6bd;
  border-style: dashed;
}
